# This file is managed by Nix

[[language]]
name = "typescript"
language-servers = ["typescript-language-server"]

[[language]]
name = "rust"
language-servers = ["rust-analyzer"]

[[language]]
name = "c"
language-servers = ["clangd"]

[[language]]
name = "cpp"
language-servers = ["clangd"]
