"$schema" = 'https://starship.rs/config-schema.json'

format = """
[](orange)\
$os\
$username\
[](bg:green fg:orange)\
$directory\
[](fg:green bg:bg3)\
$git_branch\
$git_status\
$git_metrics\
[](fg:bg3 bg:blue)\
$git_state\
$c\
$rust\
$nodejs\
$python\
[](fg:blue bg:bg3)\
$docker_context\
$jobs\
[](fg:bg3 bg:orange)\
$cmd_duration\
[](fg:orange bg:aqua)\
$time\
[ ](fg:aqua)\
$line_break\
${custom.shell}\
$character\
"""

palette = 'gruvbox_dark'

[palettes.gruvbox_dark]

# Foregrounds (text hierarchy)
fg0 = "#fbf1c7" # primary text
fg1 = "#ebdbb2" # normal text
fg2 = "#d5c4a1" # dim text
fg3 = "#bdae93" # muted
fg4 = "#a89984" # hint / disabled

# Backgrounds
bg0 = "#282828"
bg1 = "#3c3836"
bg2 = "#504945"
bg3 = "#665c54"
bg4 = "#7c6f64"

# Accents (dark)
red     = "#cc241d"
green   = "#98971a"
yellow  = "#d79921"
blue    = "#458588"
purple  = "#b16286"
aqua    = "#689d6a"
orange  = "#d65d0e"

# Accents (bright)
red_b     = "#fb4934"
green_b   = "#b8bb26"
yellow_b  = "#fabd2f"
blue_b    = "#83a598"
purple_b  = "#d3869b"
aqua_b    = "#8ec07c"
orange_b  = "#fe8019"

[os]
disabled = false
style = "bg:orange fg:fg1"

[os.symbols]
Windows = "󰍲 "
Ubuntu = "󰕈 "
SUSE = " "
Raspbian = "󰐿 "
Mint = "󰣭 "
Macos = " "
Manjaro = " "
Linux = "󰌽 "
Gentoo = "󰣨 "
Fedora = "󰣛 "
Alpine = " "
Amazon = " "
Android = " "
Arch = "󰣇 "
Artix = "󰣇 "
EndeavourOS = " "
CentOS = " "
Debian = "󰣚 "
Redhat = "󱄛 "
RedHatEnterprise = "󱄛 "
Pop = " "

[username]
show_always = true
format = '[$user ](fg:fg1 bg:orange)'

[directory]
style = "fg:fg1 bg:green"
format = "[ $path ]($style)"
truncation_length = 3
truncation_symbol = "…/"

[directory.substitutions]
"Documents" = "󰈙 "
"documents" = "󰈙 "
"Downloads" = " "
"downloads" = " "
"Music" = "󰝚 "
"music" = "󰝚 "
"Pictures" = " "
"pictures" = " "
"Dropbox" = " "
"dropbox" = " "
"Dev" = "󰲋 "
"dev" = "󰲋 "
"Documents/dev" = "󰲋 "

[git_branch]
symbol = ""
style = "fg:fg1 bg:bg3"
truncation_length = 24
format = '[ $symbol $branch ]($style)'

[git_status]
style = "fg:fg1 bg:bg3"
format = '[$all_status $ahead_behind ]($style)'

[git_state]
style = "fg:fg1 bg:blue"
format = '[$state($progress_current/$progress_total) ]($style)'

[nodejs]
disabled = true
symbol = ""
style = "bg:blue"
format = '[[ $symbol( $version) ](fg:fg1 bg:blue)]($style)'

[c]
symbol = " "
style = "bg:blue"
format = '[[ $symbol( $version) ](fg:fg1 bg:blue)]($style)'

[rust]
symbol = ""
style = "bg:blue"
format = '[[ $symbol( $version) ](fg:fg1 bg:blue)]($style)'

[python]
disabled = false
symbol = ""
style = "bg:blue"
format = '[[ $symbol( $version) ](fg:fg1 bg:blue)]($style)'

[docker_context]
symbol = ""
style = "bg:bg3"
format = '[[ $symbol( $context) ](fg:#83a598 bg:bg3)]($style)'

[jobs]
symbol = " "
style = "bg:bg3"
number_threshold = 1
format = '[[ $symbol ](fg:fg1 bg:bg3)]($style)'

[cmd_duration]
min_time = 500
style = "bg:orange"
format = '[[ 󰔟$duration ](fg:fg1 bg:orange)]($style)'

[time]
disabled = false
time_format = "%R"
style = "bg:aqua"
format = '[[  $time ](fg:fg1 bg:aqua)]($style)'

[line_break]
disabled = false

[custom.shell]
command = '''
if [ -n "$IN_NIX_SHELL" ]; then
  pkg="$(echo "$buildInputs" | sed -n 's|.*-\([^/]*\)-[0-9].*|\1|p')"
  echo -n "[nix-$pkg]"
else
  echo -n "[$STARSHIP_SHELL]"
fi
'''
when = true
style = "purple_b"
format = '[$output]($style)'

[character]
disabled = false
success_symbol = '[](bold fg:green)'
error_symbol = '[](bold fg:red)'
vimcmd_symbol = '[](bold fg:green)'
vimcmd_replace_one_symbol = '[](bold fg:purple)'
vimcmd_replace_symbol = '[](bold fg:purple)'
vimcmd_visual_symbol = '[](bold fg:green)'
